
@{
    ViewData["Title"] = "HomeDesarrollador";
}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/site.css" rel="stylesheet" type="text/css" />

<h2>HomeDesarrollador</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>
                <a href="~/ApplicationUsers/Index" class="btn btn-sq-lg btn-primary">
                    <i class="fa fa-user fa-5x"></i><br />
                    Usuarios <br>
                </a>
                <a href="#" class="btn btn-sq-lg btn-success">
                    <i class="fa fa-user fa-5x"></i><br />
                    Demo Success <br>Button
                </a>
                <a href="#" class="btn btn-sq-lg btn-info">
                    <i class="fa fa-user fa-5x"></i><br />
                    Demo Info <br>Button
                </a>
                <a href="#" class="btn btn-sq-lg btn-warning">
                    <i class="fa fa-user fa-5x"></i><br />
                    Demo Warning <br>Button
                </a>
                <a href="#" class="btn btn-sq-lg btn-danger">
                    <i class="fa fa-user fa-5x"></i><br />
                    Demo Danger <br>Button
                </a>
            </p>
        </div>
    </div>
</div>