@model Gimnasio.Models.ApplicationUser

@{
    ViewData["Title"] = "Editar Usuario";
}

<h2>Editar Usuario</h2>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
           
          
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Roles" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    @Html.DropDownList("Role", new SelectList(Model.Roles, "Text", "Text"))
                </div>
            </div>
            <br />
            <br /> 
           
            <div class="form-group">
                <input type="submit" value="Aceptar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

